.game-info {
    padding: 20px;
    border-color: rgb(189, 116, 28);
    border: 10px;
    border-style: solid;
}

.info {
    margin: 10px 0;
}

.game-name {
    font-size: 20px;
    color:khaki;
}


.link {
    color:burlywood; 
    text-decoration: none; 
  }
  
  .link:hover {
    color: red;
  }
  
