@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
}

.filter-options {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.search-bar {
  width: 70%;
}

.search-bar>input {
  width: 70%;
  height: 30px;
  background-color: #282c34;
  color: #fffb00;
  text-align: center;
  border: white 2px solid;
  border-radius: 10px;
}

.sort-menu > select {
  width: 70%;
  height: 30px;
  background-color: #282c34;
  color: #fffb00;
  text-align: center;
  border: white 2px solid;
  border-radius: 10px;
}

.sort-menu > select > option {
  border-radius: 10px;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.game {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.game>.title {
  padding-left: 10px;
  font-size: 24px;
}

.game:hover {
  transform: scale(1.05);
}

.game img {
  margin-bottom: 10px;
  align-items: center;
}

a {
  color: #fffb00;
  text-decoration: none;
  font-size: 16px;
}
